# Temporary/hidden files
.*
*.dump
cscope.*
core/extra.mk

# VM images
*.img

# Object files
*.pyc
*.o
*.ko
*.symvers
*.mod.c
modules.order

# Libraries
*.lib
*.a

# Shared objects
*.so
*.so.*

# Executables
bessd

# 3rd-party libraries
deps/dpdk*/*
deps/*.tgz
deps/*.gz

# OSX
.DS_Store
