sudo: required
dist: trusty
language: cpp

env:
  - CXX=g++-4.7 CC=gcc-4.7
  - CXX=g++-5 CC=gcc-5

before_install:
  - sudo sysctl -w vm.nr_hugepages=1024
  - sudo mkdir -p /mnt/huge
  - sudo mount -t hugetlbfs nodev /mnt/huge

install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update
  - sudo apt-get install -y gcc-4.7 g++-4.7
  - sudo apt-get install -y gcc-5 g++-5
  - sudo apt-get install -y cmake
  - sudo apt-get install -y autoconf automake libtool make unzip
  - sudo apt-get install -y python python-scapy libpcap-dev
  - sudo apt-get install -y libgraph-easy-perl linux-headers-$(uname -r)
  - .travis/install-glog.sh
  - .travis/install-gflags.sh
  - .travis/install-grpc.sh

script:
  - ./build.py
  - sudo bin/bessd -g

notifications:
  slack: nefeli:x5udJ7nDIKjCaCrRYprGc4mw
