sudo: required
dist: trusty
language: cpp

services:
  - docker

env:
  global:
    - "IMAGE=nefelinetworks/bess_build:latest"
    - GCOV_PREFIX_STRIP=2
  matrix:
    - VER_CXX=clang++-3.8 SANITIZE=1
    - VER_CXX=g++-4.8
    - VER_CXX=g++-5
    - VER_CXX=g++-6
    - VER_CXX=g++-5 DEBUG=1

before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get -q update

install:
  - sudo apt-get install -y python
  - ln -s /build/dpdk-16.07 deps
  - docker pull $IMAGE

before_script:
  - sudo sysctl -w vm.nr_hugepages=1024
  - sudo mkdir -p /mnt/huge
  - sudo mount -t hugetlbfs nodev /mnt/huge
  - export CXX=$VER_CXX
  - export CC=$VER_CC

script:
  - ./container_build.py bess
  - ./container_build.py kmod_buildtest
  - core/all_test

after_success:
  - "[[ ${COVERAGE:-0} != 0 ]] && bash <(curl -s https://codecov.io/bash)"
  - for bench in core/*_bench; do ./$bench; done

notifications:
  slack: nefeli:x5udJ7nDIKjCaCrRYprGc4mw
